html, body {
    height: 100vh;
    width: 100%;
    line-height: 1.5;
    font-family: monospace;
}

* {
    margin: 0;
    padding: 0;
}

.inline {
    display: flex;
    justify-content: space-evenly;
}

.left {
    float: left;
}

.right {
    float: right;
    font-size: 17px;
}

.main {
    width: 100%;
    height: 90vh;
}

@media (min-width: 768px) {
    .main {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .main {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .main {
        width: 100%;
    }
}

.navigation {
    background-color: white;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid whitesmoke;
}

.navigation a {
    float: left;
    color: #de2126;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
    color: #660000;
}

.logo a {
    color: #660000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    font-weight: 900;
}

.info {
    display: flex;
    flex: space-between;
    margin-top: 7%;
}

.info-text {
    width: 40%;
    padding: 2% 10% 20% 10%;
    align-content: center;
    text-align: center;
    font-size: 1.7vw;
}

.info-pic {
    width: 60%;
    align-content: center;
    padding: 0% 2% 0% 10%;
}

.credit p a {
    font-size: 7pt;
    color: grey;
    text-decoration: none;
}

.get {
    background-color: #de2126;
    border-radius: 5px;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 5%;
}

.get:hover {
    background-color: #a40000;
}

.del-boy {
    width: 70%;
    height: auto;
}