html, body {
    height: 100vh;
    width: 100%;
    line-height: 1.5;
    font-family: monospace;
}

* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.inline {
    display: flex;
    justify-content: space-evenly;
}

.left {
    float: left;
}

.right {
    float: right;
    font-size: 17px;
}

.main {
    width: 100%;
    height: 88vh;
}

@media (min-width: 768px) {
    .main {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .main {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .main {
        width: 100%;
    }
}

.navigation {
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid whitesmoke;
}

.navigation a {
    float: left;
    color: #de2126;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 16px;
}

.navigation a:hover {
    color: #660000;
}

.logo a {
    color: #660000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    font-weight: 900;
}

.info {
    display: flex;
    flex: space-between;
    margin-top: 7%;
}

.info-text {
    width: 40%;
    padding: 2% 10% 0% 10%;
    align-content: center;
    text-align: center;
    font-size: 1.7vw;
}

.info-text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info-pic {
    width: 60%;
    align-content: center;
    padding: 2% 2% 0% 10%;
}

.credit p a {
    font-size: 7pt;
    color: grey;
    text-decoration: none;
}

.credit p a:hover {
    color: black;
}

.get {
    background-color: #de2126;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 5%;
    box-shadow: 0px 5px 0px 0px rgba(96, 0, 0, 1);
}

.get:hover {
    background-color: #a40000;
}

.del-boy {
    width: 70%;
    height: auto;
}

.forms {
    margin-top: 6%;
    padding: 0 30%;
}

.forms p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forms a {
    color: #a40000;
    text-decoration: none;
}

.forms a:hover {
    color: #660000;
    text-decoration: underline;
}

.input {
    width: 78%;
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    background-color: #de2126;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 8px 18px;
    box-shadow: 0px 5px 0px 0px rgba(96, 0, 0, 1);
    width: 78%;
    align-content: center;
    font-family: monospace;
}

.button-flex {
    background-color: #de2126;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 7px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4vw;
    font-weight: bold;
    margin: 8px 20px;
    box-shadow: 0px 5px 0px 0px rgba(96, 0, 0, 1);
    width: auto;
    align-content: center;
    font-family: monospace;
}

.button:hover {
    background-color: #a40000;
}

.button-flex:hover {
    background-color: #a40000;
}

.dropdown {
    /* float: left; */
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    background-color: #ffffff;
    min-width: 160px;
    border: 1px solid whitesmoke;
    z-index: 1;
    position: absolute;
    margin-top: 40px;
}

.dropdown-content a {
    float: none;
    color: #de2126;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fff;
    color: #660000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: whitesmoke;
}

table {
    border-collapse: collapse;
    width: 96%;
    margin: 2%;
}

th, td {
    padding: 15px;
}

td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
}

.card {
    border: 1px dotted #ddd;
    width: 10%;
    height: auto;
    padding: 15px 20px 25px 10px;
    margin: 10px 15px;
}

.comp, .del, .on, .canc {
    font-weight: 600;
}

.comp {
    border-bottom: 3px solid #600000;
}

.del {
    border-bottom: 3px solid #4caf50;
}

.on {
    border-bottom: 3px solid #03a9f4;
}

.canc {
    border-bottom: 3px solid #f44336;
}

.edit {
    background: none;
    border: none;
    margin-left: 2%;
}

.progress {
    background-color: #fff7de;
    padding: 10px 2px;
    text-align: center;
    font-weight: 600;
}

.active {
    color: #a40000;
}

.inactive {
    color: #ca504b;
}

.order-container {
    width: 50%;
    margin: 5% 25%;
    height: auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.final-detail {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10pt;
}

.destination {
    display: none;
}

.input-destination {
    padding: 10px 17px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-destination {
    background-color: #bdbdbd;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    /* margin: 8px 20px; */
    box-shadow: 0px 3px 0px 0px rgba(97, 97, 97, 1);
    align-content: center;
    font-family: monospace;
}

.btn-destination:hover {
    background-color: #8e8e8e;
}